<template>
    <div>
        <NavBar />
    </div>
    <div class="p-[100px] bg-BG font-WorkSans ">
        <h1 class=" text-[32px] font-semibold">Secure your reservation</h1>
        <div class=" w-full h-20 my-8 p-7  bg-BGcovid inline-flex rounded-lg font-WorkSans">
            <img src="../images/danger 1.png" alt="covid">
            <p class=" ml-5 ">Check the latest COVID-19 restrictions before you travel. <span class=" text-blue-700 cursor-pointer ">Learn more</span></p>
        </div>

        <div class="grid grid-cols-2">

            <div v-if="hotel">
                <div class=" bg-white w-[810px] h-[328px] mb-[30px] rounded-md ">
                    <div class=" h-[60px] bg-button rounded-t-md">
                        <div class=" inline-flex text-white p-5">
                            <img class=" ml-2" src="../images/security-user 1.png" alt="security">
                            <p class=" text-lg font-medium">Room {{ hotel.rooms }}    <span class="ml-10 text-base font-medium ">{{ hotel.guests }} adults, 1 double bed and 1 twin bed, Non-smoking</span> </p>
                        </div>
                    </div>
                    <div class=" p-8">
                        <div class=" inline-flex text-sm font-medium mb-5">
                            <div class=" mr-5 mt-2">
                                <p>First name</p>
                                <input class="bg-input w-[240px] h-[44px] p-3" type="text">
                            </div>
                            <div class=" mt-1">
                                <p>Last name</p>
                                <input class=" bg-input w-[240px] h-[44px] p-3" type="text">
                            </div>
                        </div>
                        <div class="mb-5">
                            <p class=" text-sm font-medium">Mobile number</p>
                            <div class=" inline-flex">
                                <div class="w-[150px] h-[44px] inline-flex  bg-input mr-5">
                                    <img class=" w-6 h-6 m-2" src="../images/image 5.png" alt="">
                                    <select class=" w-[100px] bg-input text-left " name="phone" id="phoneid">
                                       <option class=" text-center" value="+65">+65</option>
                                    </select>
                                </div>
                                <input class=" w-[338px] h-[44px] p-3 bg-input" type="text">
                            </div>
                        </div>
                        <div>
                            <input type="checkbox" class=" mr-2">
                            <label class=" text-sm font-normal" for="checkbox">Receive text alerts about this trip.</label>
                        </div>
                    </div>
                </div>

                <div class="w-[810px] h-[576px] bg-white rounded-md">
                    <div class=" h-[60px] bg-button rounded-t-md">
                        <div class=" inline-flex text-white p-5">
                            <img class=" w-7 h-7 mr-2" src="../images/card-tick 1.png" alt="">
                            <p class=" text-lg font-medium">Payment options </p>
                        </div>
                    </div>
                    <div class=" h-12 border-b-gray-100 border-2">
                        <div class=" w-auto h-auto px-[14px] pt-[15px] my-1 mx-8">
                            <p class=" text-sm font-normal pb-2">Debit/Credit Card</p>
                            <div class=" w-[100px]  h-[3px] bg-button"></div>
                        </div>
                    </div>
                    <div class=" inline-flex my-[50px] mx-[40px] mb-6">
                        <div class=" w-[60px] h-[40px] p-2 mr-2 bg-input rounded-md">
                            <img src="../images/image 6.png" alt="">
                        </div>
                        <div class=" w-[60px] h-[40px] p-2 mr-2 bg-input rounded-md">
                            <img src="../images/image 7.png" alt="">
                        </div>
                        <div class=" w-[60px] h-[40px] p-2 mr-2 bg-input rounded-md">
                            <img src="../images/image 10.png" alt="">
                        </div>
                        <div class=" w-[60px] h-[40px] p-2 mr-2 bg-input rounded-md">
                            <img src="../images/image 8.png" alt="">
                        </div>
                    </div>
                    <div class=" mx-[40px] mb-5">
                        <p class=" text-sm font-normal mb-1">Name on card</p>
                        <input class=" w-[550px] h-[44px] bg-input p-3 mb-5 " type="text">
                        <p class=" text-sm font-normal mb-1">Debit/Credit card number</p>
                        <input class=" w-[550px] h-[44px] bg-input p-3 mb-5 " type="text">
                        <p class=" text-sm font-normal mb-1">Expiration Date</p>
                        <div class=" inline-flex mb-3">
                            <select class=" w-[150px] h-[42px] py-[10px] px-3 mr-5 bg-input" name="" id="">
                                <option value="">April</option>
                            </select>
                            <select class=" w-[150px] h-[42px] py-[10px] px-3 bg-input" name="" id="">
                                <option value="">2026</option>
                            </select>
                        </div>
                        <div class=" inline-flex">
                            <div>
                                <p class=" text-sm font-normal mb-1">Security Code</p>
                                <input class=" w-[240px] h-[44px] bg-input p-3 mb-5 mr-4 " type="text">
                            </div>
                            <div>
                                <p class=" text-sm font-normal mb-1">Billing Zip code</p>
                                <input class=" w-[240px] h-[44px] bg-input p-3 mb-5 " type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-[810px] h-[500px] bg-white rounded-md mt-[30px]">
                    <div class=" h-[60px] py-[18px] px-6 bg-checkout rounded-t-md">
                        <p class=" text-lg font-medium">Important information about your booking</p>
                    </div>
                    <div class=" w-[762px] h-[115px] mx-6 my-8 text-sm font-normal">
                        <ol>
                            <li class=" mb-1">1. This rate is non-refundable. If you change or cancel your booking you will not get a refund or credit to use for a future stay.</li>
                            <li class=" mb-1">2. Stay extensions will require a new reservation.</li>
                            <li class=" mb-1">3. Front desk staff will greet guests on arrival</li>
                            <li class=" mb-1">4. No refunds will be issued for late check-in or early check-out.</li>
                        </ol>
                    </div>
                    <div class="w-[762px] mx-6 my-8 text-sm font-normal">
                        <p>By clicking the button below, I acknowledge that I have reviewed the <span class=" text-button">Privacy Statement</span>  and have reviewd and accept the <span class=" text-button">Rules and Restrictions</span>  and <span class=" text-button">Terms of Use</span> .</p>
                    </div>
                    <div class="w-[160px] h-[44px] mx-6 my-8">
                        <button class=" bg-button py-3 px-[18px] rounded text-white text-sm font-normal" @click="goMyTrips">Complete Booking</button>
                    </div>
                    <div class=" w-[713px] h-5 inline-flex mx-6 my-8">
                        <img src="../images/lock-circle 1.png" alt="">
                        <p>We use secure transmission and encrypted storage to protect your personal information</p>
                    </div>
                </div>
            </div>



            <div class=" ml-auto" v-if="hotel">
                <div class=" w-[400px] h-[400px] mb-[30px] bg-white rounded">
                    <img class="w-[400px] h-[180px] rounded-t-md" :src="hotel.img_url" alt="hotel">
                    <div class="m-5">
                        <p class=" text-lg font-medium">{{ hotel.hotel_name }}</p>
                        <div class=" inline-flex">
                            <div class=" inline-flex mr-1">
                                <img src="../images/star-s-fill 1.png" alt="rating">
                                <img src="../images/star-s-fill 1.png" alt="rating">
                                <img src="../images/star-s-fill 1.png" alt="rating">
                                <img src="../images/star-s-fill 1.png" alt="rating">
                          </div>
                          <p class=" text-sm font-normal">{{ hotel.score }} ({{ hotel.rev_no }})</p>
                        </div>
                    </div>
                    <div class="m-5 w-[250px] h-[104px] text-sm font-normal">
                        <p class=" text-red mb-2">Non refundable</p>
                        <p class="mb-2">check in: {{ formattedDate(checkinDate) }}</p>
                        <p class="mb-2">check out: {{ formattedDate(checkoutDate) }}</p>
                        <p>{{ daysDifference }} night stay</p>
                    </div>
                </div>

                <div class="w-[400px] h-[220px] bg-white rounded-md">
                    <div class=" h-[55px] p-[18px] bg-green rounded-t-md">
                        <p class=" text-base font-medium">Price Details</p>
                    </div>
                    <div>
                        <div class=" p-[18px] py-5 h-[95px] border-b-2 text-sm font-normal">
                            <div class=" inline-flex mb-4 ">
                                <p>{{ hotel.rooms }} rooms X {{ daysDifference }} nights</p>
                                <p class=" ml-44">{{ hotel.gross }}</p>
                            </div>
                            <div class=" inline-flex ">
                                <p>Tax and service fees</p>
                                <p class=" ml-48">€ {{ hotel.taxes }}</p>
                            </div>
                        </div>
                    </div>
                    <div class=" p-[18px]">
                        <div class=" inline-flex">
                            <p class=" text-xl font-semibold">Total</p>
                            <p class=" ml-[260px] text-base font-medium">{{ hotel.total }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <bookingCard v-if="showCard" />
</template>

<script setup>
import { ref, onMounted  } from 'vue';
import NavBar from '../components/NavBar.vue';
import bookingCard from '../components/bookingCard.vue';
import { useRouter } from 'vue-router';

const router = useRouter();
const hotelDetails = ref(JSON.parse(localStorage.getItem('selectedHotelDetails')));
const hotel = hotelDetails.value;
const checkinDate = new Date(hotel.checkin);
const checkoutDate = new Date(hotel.checkout);
const showCard = ref(false);

const timeDifference = checkoutDate - checkinDate;
const daysDifference = timeDifference / (1000 * 60 * 60 * 24);

const formattedDate = (date) => {
    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
    return new Intl.DateTimeFormat('en-US', options).format(date);
};

const goMyTrips = ()=>{
    localStorage.setItem('myTripsHotelData', JSON.stringify(hotel));
    showCard.value = true;
}

onMounted(()=>{
    console.log("This Hotel has: " ,hotelDetails.value);
    console.log(": " ,hotelDetails.value.guests);
})

</script>

<style lang="scss" scoped>

</style>