<template>
  <NavBar />
  <HeroHome />
  <Footer />
  <WelcomeCard v-if="isAuthenticated" />
  
</template>

<script setup>
import { ref, onMounted } from 'vue';
import Footer from '../components/Footer.vue';
import HeroHome from '../components/HeroHome.vue';
import NavBar from '../components/NavBar.vue';
import WelcomeCard from '../components/welcomeCard.vue';



const isAuthenticated = ref(localStorage.getItem('authToken') !== null);

onMounted(()=>{
  localStorage.removeItem('formData');
  console.log('stored');

  
})
</script>

<style lang="scss" scoped>

</style>