<template>
    <div>
        <NavBar />
    </div>

    <div class="parent-div-class mt-0 px-0 h-full">
        <div class="  bg-details box-border" >
        <div v-if=" hotelDetails" class=" grid grid-cols-2 h-[500px]  relative  px-[100px] py-3 bg-gradient-to-t from-transparent to-custom ">
            <div class=" w-[820px] h-[500px]">
                <img class=" w-[820px] h-[450px] rounded-md" :src="getHotelPhotos(hotelDetails.data.rooms)[0].url_max750" alt="Hotel Photo">
                <div class=" inline-flex h-auto space-x-3 bg-none mt-8 ">
                    <div class="px-[10px] pt-[14px] ">
                        <a href="#overview"  class=" cursor-pointer" @click.prevent="scrollToSection('#overview')" :class="{ active: data.activeSection === 'overview' }">Overview</a>
                    </div>
                    <div class=" px-[10px] pt-[14px]">
                        <a href="#rooms"  class=" cursor-pointer" @click.prevent="scrollToSection('#rooms')" :class="{ active: data.activeSection === 'rooms' }">Rooms</a>
                    </div>
               </div>
            </div>
            <div class=" w-[400px] h-[500px] ml-48  ">
                <img class=" w-[400px] h-[220px] mb-2 rounded-md " :src="getHotelPhotos(hotelDetails.data.rooms)[1].url_max300" alt="Hotel Photo">
                <img class="w-[400px] h-[220px] mt-2 rounded-md " :src="getHotelPhotos(hotelDetails.data.rooms)[2].url_max300" alt="Hotel Photo">
            </div>
            
            
        </div>


        <div v-if=" hotelDetails" class=" grid grid-cols-2 gap-[400px] w-[1519px] px-[100px] bg-BG mt-10 " >
            <div class=" w-[800px] ">
                    <div>
                    <h1 class=" py-5 text-[32px] font-medium">{{ hotelDetails.data.hotel_name }}</h1>
                    <div>
                        <div class=" inline-flex">
                        <img src="../images/star-s-fill 1.png" alt="rating">
                        <img src="../images/star-s-fill 1.png" alt="rating">
                        <img src="../images/star-s-fill 1.png" alt="rating">
                        <img src="../images/star-s-fill 1.png" alt="rating">
                        <p class=" text-sm font-normal text-gray-600">{{ score }} ({{ hotelDetails.data.review_nr }} Reviews)</p>
                    </div>
                    </div>
                    <div class=" inline-flex pb-10 pt-3 text-sm font-normal text-gray-700">
                        <img src="../images/location 1 (1).png" alt="">
                        <p>{{ hotelDetails.data.address }}</p>
                    </div>
                </div>
                <div class=" box-content  bg-white px-10 py-6 my-5 font-WorkSans rounded-md" id="overview">
                    <h3 class=" py-4 text-lg font-medium text-font">Overview</h3>
                    <div v-if="desc.data[0]" class=" my-5 text-base font-normal font-WorkSans text-text">
                        <p>{{ desc.data[0].description }}</p>
                    </div>
                    <br>
                    <div v-if="desc.data[1]" class="text-base font-normal font-WorkSans text-text pb-5">
                        <p>{{ desc.data[1].description }}</p>
                    </div>
                    <hr >
                    <div class=" py-5">
                        <h2 class=" text-lg font-medium text-font">Top facilities</h2>
                        <div class="grid grid-cols-2 my-3 text-sm font-normal font-WorkSans text-text">
                            <div v-for="facility in hotelDetails.data.facilities_block.facilities" :key="facility.icon" class=" inline-flex py-3">
                                <img class=" pr-2" src="../images/like-1 1 (1).png" alt="">{{ facility.name }}  
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" align-middle py-8 font-WorkSans">
                <iframe class=" w-[400px] h-[240px] rounded-md" :src="`https://maps.google.com/maps?q=${hotelDetails.data.latitude},${hotelDetails.data.longitude}&z=15&output=embed`"></iframe>
                <div class=" mt-8 mb-5 text-lg font-medium">
                    <h3>Explore the area</h3>
                </div>
                <div>
                    <div class=" inline-flex">
                        <img class=" px-2" src="../images/bxs-plane-alt 2.png" alt="plane">
                        <p>Hotel Penselvenyia</p>
                        <p class=" pl-[200px]">2 min drive</p>
                    </div>
                    <div class=" inline-flex">
                        <img class=" px-2" src="../images/bxs-map 1.png" alt="">
                        <p>Travis Bakery store house</p>
                        <p class=" pl-36">10 min drive</p>
                    </div>
                    <div class=" inline-flex">
                        <img class=" px-2" src="../images/bxs-map 1.png" alt="">
                        <p>Olivia Johnson Garden</p>
                        <p class=" pl-[170px]">15 min drive</p>
                    </div>
                    <div class=" inline-flex">
                        <img class=" px-2" src="../images/bxs-map 1.png" alt="">
                        <p>Norman Opera Circus</p>
                        <p class=" pl-44">18 min drive</p>
                    </div>
                    <div class=" inline-flex">
                        <img class=" px-2" src="../images/bxs-map 1.png" alt="">
                        <p>Rockdeset hotel</p>
                        <p class=" pl-[220px]">32 min drive</p>
                    </div>
                </div>
            </div>
            

            
        </div>


        <div v-if=" hotelDetails" class=" grid grid-cols-3 gap-4 py-8  px-[100px] bg-BG font-WorkSans" >
            <div id="rooms" >
                <p class=" mb-8 text-2xl font-semibold ">Available rooms</p>
                <img class="rounded-md " src="../images/traveler.jpg" alt="">
            </div>
            <div class=" bg-white h-[430px] mt-16 rounded-md p-0 ">
                <img class="  w-[430px] h-[200px] rounded-t-md " src="../images/Rectangle 70.png" alt="Hotel Photo">
                <div class=" p-5">
                    <p class=" text-lg font-medium">Standard twin ben, Multiple beds</p>
                    <div class=" text-sm font-normal mt-2">
                        <div class=" grid grid-cols-1 gap-3">
                            <div class=" inline-flex">
                            <img src="../images/bag-tick-2 1.png" alt="">
                            <p>300 sq ft</p>
                        </div>
                        <div class=" inline-flex">
                            <img src="../images/lifebuoy 1.png" alt="">
                            <p>Sleeps 3</p>
                        </div>
                        <div class=" inline-flex">
                            <img src="../images/like-1 1.png" alt="">
                            <p>1 double bed and 1 twin bed</p>
                        </div>
                        </div>
                     </div>
                     <button class=" w-[360px] h-[44px] px-[18px] py-3 mx-3 bg-button text-white rounded-md mt-6" @click="resevre(hotelDetails.data.hotel_name,hotelDetails.data.review_nr,score,hotelDetails.data.product_price_breakdown.all_inclusive_amount.amount_rounded,hotelDetails.data.product_price_breakdown.charges_details.amount.value,hotelDetails.data.product_price_breakdown.gross_amount.amount_unrounded,getHotelPhotos(hotelDetails.data.rooms)[0].url_max300)">Reserve suite</button>
                </div>
            </div>
            <div class="  bg-white h-[430px] mt-16 rounded-md p-0 ">
                <img class=" w-[430px] h-[200px] rounded-t-md" src="../images/Rectangle 71.png" alt="Hotel Photo">
                <div class=" p-5">
                    <p class=" text-lg font-medium">Standard twin ben, Multiple beds</p>
                    <div class=" text-sm font-normal mt-2">
                        <div class=" grid grid-cols-1 gap-3">
                            <div class=" inline-flex">
                            <img src="../images/bag-tick-2 1.png" alt="">
                            <p>300 sq ft</p>
                        </div>
                        <div class=" inline-flex">
                            <img src="../images/lifebuoy 1.png" alt="">
                            <p>Sleeps 3</p>
                        </div>
                        <div class=" inline-flex">
                            <img src="../images/like-1 1.png" alt="">
                            <p>1 double bed and 1 twin bed</p>
                        </div>
                        </div>
                     </div>
                     <button class=" w-[360px] h-[44px] px-[18px]  mx-3 py-3 bg-button text-white rounded-md mt-6" @click="resevre(hotelDetails.data.hotel_name,hotelDetails.data.review_nr,score,hotelDetails.data.product_price_breakdown.all_inclusive_amount.amount_rounded,hotelDetails.data.product_price_breakdown.charges_details.amount.value,hotelDetails.data.product_price_breakdown.gross_amount.amount_unrounded,getHotelPhotos(hotelDetails.data.rooms)[1].url_max300)">Reserve suite</button>
                </div>
            </div>
            <div class=" w-[1330px] h-20 my-12 p-7  bg-BGcovid inline-flex rounded-lg font-WorkSans">
                <img src="../images/danger 1.png" alt="covid">
                <p class=" ml-5 ">Check the latest COVID-19 restrictions before you travel. <span class=" text-blue-700 cursor-pointer ">Learn more</span></p>
           </div>
        </div>
    </div>
    </div>
    

    <div class="bg-BG">
        <Footer />
    </div>
</template>

<script setup>
import { ref, onMounted  } from 'vue';
import axios from "axios";
import { useRouter } from 'vue-router';
import VueScrollTo from 'vue-scrollto';
import NavBar from '../components/NavBar.vue';
import Footer from '../components/Footer.vue';


const { scrollTo } = VueScrollTo;
const hotelData = ref(JSON.parse(localStorage.getItem('selectedHotelData')));
const score = hotelData.value.score;
const hotelDetails = ref(null);
const desc = ref(null);
const router = useRouter();


const getHotelPhotos = (rooms) => {
  const firstRoomKey = Object.keys(rooms)[0];
  const photos = rooms[firstRoomKey]?.photos || [];
  console.log('Photos:', photos); // Log the photos array

  return photos;
};

const data = ref({
  activeSection: null,
});

const scrollToSection = (section) => {
  scrollTo(section, 500, { offset: -80 }); // Adjust the offset based on your design
};

const resevre = (hotel_name,rev_no,score,total,taxes,gross,img_url)=>{
    const selectedHotelDetails = {
    hotel_name:hotel_name,
    rev_no:rev_no,
    score:score,
    total:total,
    taxes:taxes,
    gross:gross,
    checkin:hotelData.value.checkin,
    checkout:hotelData.value.checkout,
    rooms:hotelData.value.rooms,
    guests:hotelData.value.guests,
    img_url:img_url
  }; 

  localStorage.setItem('selectedHotelDetails', JSON.stringify(selectedHotelDetails));

    router.push({
    name: 'checkout'
  });
}


const options = {
  method: 'GET',
  url: 'https://booking-com15.p.rapidapi.com/api/v1/hotels/getHotelDetails',
  params: {
    hotel_id: hotelData.value.hotel_id,
    arrival_date: hotelData.value.checkin,
    departure_date: hotelData.value.checkout,
    adults: hotelData.value.guests,
    children_age: '1,17',
    room_qty: hotelData.value.rooms,
    languagecode: 'en-us',
    currency_code: 'EUR'
  },
  headers: {
    'X-RapidAPI-Key': '20d54468c2msh75ff5b8d5fd028bp1a1369jsn6434e6023838',
    'X-RapidAPI-Host': 'booking-com15.p.rapidapi.com'
  }
};


const description =  {
  method: 'GET',
  url: 'https://booking-com15.p.rapidapi.com/api/v1/hotels/getDescriptionAndInfo',
  params: {
    hotel_id: hotelData.value.hotel_id,
    languagecode: 'en-us'
  },
  headers: {
    'X-RapidAPI-Key': '20d54468c2msh75ff5b8d5fd028bp1a1369jsn6434e6023838',
    'X-RapidAPI-Host': 'booking-com15.p.rapidapi.com'
  }
};


const fetchDescription = async() => {  
  try {
    const response = await axios.request(description);
    desc.value = response.data;
    console.log('API Response hotel description:', desc.value);

  } catch (error) {
    console.error(error);
  }
}


const fetchhotelDetails = async() => {  
  try {
    const response = await axios.request(options);
    hotelDetails.value = response.data;
    console.log('API Response:', hotelDetails.value);

  } catch (error) {
    console.error(error);
  }
};


onMounted(()=>{
    console.log("hotel details: ",hotelData.value);
    fetchhotelDetails();
    fetchDescription();
    localStorage.removeItem('selectedHotelDetails');
})
</script>

<style lang="scss">



</style>