<template>
    <header class=" relative top-0 bg-BGcolor w-full mx-0 mb-24 ">
        <nav class=" container flex flex-col text-gray-500 items-center py-9 font-WorkSans">  

            <div class=" inline-flex absolute left-36 ">
                <img src="../images/bxs-plane-alt 1.png" alt="plane-icon">
                <p class=" font-bold text-gray-950">My Dream Place</p>  
            </div>   
        </nav>
    </header>

    <div class=" w-400 mx-500 h-8 p-0 font-WorkSans">
        <h2 class="font-semibold text-3xl mb-16 text-center">Sign in</h2>

        <div class=" font-medium text-sm mb-5">
            <p class=" mb-1">Email address</p>
            <input v-model="userEmail" class=" w-400 h-11 bg-input p-3" type="email" name="email" required>
       </div>

       <div class=" font-medium text-sm mb-11">
            <p class=" mb-1">Password</p>
            <input v-model="userPassword" class=" w-400 h-11 bg-input p-3" type="password" name="password" required>
       </div>

       <div class=" bg-button h-11 py-3 rounded-md text-center text-white">
        <button @click="login">Sign in</button>
       </div>
       <div class=" text-center mt-5 font-WorkSans font-normal text-base">
        <p>Don’t have an account? <span @click="PreviewRegister" class=" text-button cursor-pointer">Register</span></p>
       </div>
    </div>

</template>

<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';


const router = useRouter()
const PreviewRegister = () =>{
    router.push({
        name : "register",
        params:{},
    })
}

const userEmail = ref('');
const userPassword = ref();
const encodeCredentials = (email, password) => {
  const credentials = `${email}:${password}`;
  return btoa(credentials);
};

// Function to decode encoded credentials
const decodeCredentials = (encodedCredentials) => {
  const decodedCredentials = atob(encodedCredentials);
  const [email, password] = decodedCredentials.split(':');
  return { email, password };
};
const login = () => {

const encodedCredentials = encodeCredentials(userEmail, userPassword);
console.log('Encoded:', encodedCredentials);
localStorage.setItem('authToken', encodedCredentials);

const decodedCredentials = decodeCredentials(encodedCredentials);
console.log('Decoded:', decodedCredentials);
authenticated();
};

const redirectToHomepage = () => {
    router.push({
        name : "home",
        params:{},
    })
};


const isUserLoggedIn = () => {
  const encodedCredentials = localStorage.getItem('authToken');
  return encodedCredentials !== null;
};

const authenticated = () =>{
    if (isUserLoggedIn()) {
        redirectToHomepage();
  console.log('User is logged in.');
} else {
  console.log('User is not logged in.');
}
}
</script>

<style lang="scss" scoped>

</style>