<template >
    <div class=" h-auto">
        <NavBar />
    </div>
    
    <div class=" h-[1000px] px-[205px] bg-BG font-WorkSans">
        <div class=" mt-30 pt-4 mb-7">
            <p class=" text-[32px] font-semibold">My trips</p>
        </div>
        <div class=" grid grid-cols-3 h-auto p-5 bg-white  border-gray-200 border-2 rounded-md">
            <div>
                <img class=" w-[285px] h-auto rounded-md"  :src="details.img_url" alt="rating">
            </div>
            <div>
                <p class=" text-xl font-medium">{{ details.hotel_name }}</p>
                <div class=" inline-flex mt-5">
                      <img src="../images/star-s-fill 1.png" alt="rating">
                      <img src="../images/star-s-fill 1.png" alt="rating">
                      <img src="../images/star-s-fill 1.png" alt="rating">
                      <img src="../images/star-s-fill 1.png" alt="rating">
                      <p class=" text-sm font-normal text-gray-600">{{ details.score }} ({{ details.rev_no }})</p>
                </div>
                <div class=" mt-[30px] w-[250px] h-[104px] text-sm font-normal">
                        <p class=" text-red mb-2">Non refundable</p>
                        <p class="mb-2">check in: {{ formattedDate(checkinDate) }}</p>
                        <p class="mb-2">check out: {{ formattedDate(checkoutDate) }}</p>
                        <p>{{ daysDifference }} night stay</p>
                    </div>
            </div>
            <div class="mt-auto text-right">
                <p> {{ details.total }}</p>
                <p class=" py-3">Includes taxes and fees</p>
                <button class="w-[143px] h-[40px] py-[10px] px-[18px] text-white text-sm font-medium bg-button rounded">View trip details</button>
            </div>
        </div> 
    </div>
    <div class=" bg-BG">
        <div class=" w-124 mx-[100px] h-20 my-12  p-7  bg-BGcovid inline-flex rounded-lg font-WorkSans">
        <img src="../images/danger 1.png" alt="covid">
        <p class=" ml-5 ">Check the latest COVID-19 restrictions before you travel. <span class=" text-blue-700 cursor-pointer ">Learn more</span></p>
    </div>
    </div>
    <div class=" bg-BG pt-20">
        <Footer />
    </div>

</template>

<script setup>
import { ref, onMounted , watchEffect } from 'vue';
import NavBar from '../components/NavBar.vue';
import Footer from '../components/Footer.vue'

const hotelDetails = ref(JSON.parse(localStorage.getItem('myTripsHotelData')));
const details = hotelDetails.value;

const checkinDate = new Date(details.checkin);
const checkoutDate = new Date(details.checkout);

const timeDifference = checkoutDate - checkinDate;
const daysDifference = timeDifference / (1000 * 60 * 60 * 24);

const formattedDate = (date) => {
    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
    return new Intl.DateTimeFormat('en-US', options).format(date);
};

onMounted(()=>{
    console.log('hotel details in my trips:', hotelDetails.value);
})

</script>

<style lang="scss" scoped>

</style>