<template>
    <header class=" relative top-0 bg-BGcolor w-full mx-0 mb-24 ">
        <nav class=" container flex flex-col text-gray-500 items-center py-9 font-WorkSans">  

            <div class=" inline-flex absolute left-36 ">
                <img src="../images/bxs-plane-alt 1.png" alt="plane-icon">
                <p class=" font-bold text-gray-950">My Dream Place</p>  
            </div>   
        </nav>
    </header>

    <div class=" w-400 mx-500 h-8 p-0 font-WorkSans">
        <h2 class="font-semibold text-3xl mb-16 text-center">Register</h2>

        <div class=" font-medium text-sm mb-5">
            <p class=" mb-1">Email address</p>
            <input class=" w-400 h-11 bg-input p-3" type="email" name="email">
       </div>

       <div class=" font-medium text-sm mb-11">
            <p class=" mb-1">Password</p>
            <input class=" w-400 h-11 bg-input p-3" type="password" name="password">
       </div>

       <div class=" font-medium text-sm mb-11">
            <p class=" mb-1">Confirm Password</p>
            <input class=" w-400 h-11 bg-input p-3" type="password" name="password">
       </div>

       <div class=" bg-button h-11 py-3 rounded-md text-center text-white">
        <button>Submit</button>
       </div>
       <div class=" text-center mt-5 font-WorkSans font-normal text-base">
        <p>Already have an account? <span @click="PreviewLogin" class=" text-button cursor-pointer">Login</span></p>
       </div>
    </div>
</template>

<script setup>

import { useRouter } from 'vue-router';

const router = useRouter()
const PreviewLogin = () =>{
    router.push({
        name : "login",
        params:{},
    })
}

</script>

<style lang="scss" scoped>

</style>