<template>
    <div class=" w-full h-[235px] mb-16 bg-none relative font-WorkSans">
      <div class=" max  h-[200px] bg-search">
        <NavSearch />
      </div>
      <div class=" absolute bottom-0 mx-[225px]">
        <SearchBar />
      </div>
    </div>
    <div class=" max-w-[1240px] mx-[100px] inline-flex font-WorkSans">
        <div class=" w-[300px] mx-8 ">
          <div class=" h-[120px] p-5 bg-input mb-5 rounded-md">
            <p class=" mb-5 text-base font-medium">Search by property name</p>
            <div class=" w-[260px] h-[44px] inline-flex items-center border-2 rounded p-3 bg-white">
              <img src="../images/search 1.png" alt="search">
              <input class=" w-[140px] h-[21px] ml-5 text-sm font-normal" type="text" placeholder="eg. Beach westpalm" v-model="property">
            </div>
          </div>
          <h3 class=" text-lg font-semibold mb-5 p-5">Filter by</h3>
          <div class=" border-2 rounded-md box-content">
            <div class=" rounded-md">
              <h4 class=" text-base font-semibold p-5 bg-input rounded-t-md">Your budget per day</h4>
              <div class=" bg-white pb-5">
                <div class=" p-5">
                  <div class=" mb-4">
                    <input  type="checkbox" @change="updateMinMax(0, 200)">
                    <label class=" ml-2">$ 0 - $ 200</label>
                  </div>
                  <div class=" mb-4">
                    <input type="checkbox" @change="updateMinMax(200, 500)">
                    <label class=" ml-2">$ 200 - $ 500</label>
                  </div>
                  <div class=" mb-4">
                    <input type="checkbox" @change="updateMinMax(500, 1000)">
                    <label class=" ml-2">$ 500 - $ 1,000</label>
                  </div>
                  <div class=" mb-4">
                    <input type="checkbox" @change="updateMinMax(1000, 2000)">
                    <label class=" ml-2">$ 1,000 - $ 2,000</label>
                  </div>
                  <div class=" mb-4">
                    <input type="checkbox" @change="updateMinMax(2000, 5000)">
                    <label class=" ml-2">$ 2,000 - $ 5,000</label>
                  </div>
                </div>
                <div class=" inline-flex">
                  <p class=" text-sm font-normal px-5 mb-2 text-gray-600">Set your own budget</p>
                  <div class="ml-[55px]">
                      <label class="switch">
                        <input type="checkbox" v-model="isChecked" @click="toggleSwitch" />
                        <span class="slider"></span>
                      </label>
                   </div>
                
                </div>
                <div class=" inline-flex border-dashed border-2 ml-5" v-if="isChecked">
                  <input class=" w-24 p-3 m-3 text-xs font-normal rounded border-2" type="text" placeholder="Min budget" v-model="min" required>
                  <input class=" w-24 p-3 m-3 text-xs font-normal rounded border-2" type="text" placeholder="Max budget" v-model="max" required>
                </div>
                <p class=" mx-7 my-2 text-xs font-normal text-gray-600" @keyup.enter="minMax">Press Enter to filter</p>
              </div>
            </div>
          </div>
          <div class=" h-auto  my-5 border-2 rounded-md bg-input">
            <h3 class=" p-5 font-semibold">Rating</h3>
            <div class=" bg-white p-5">
              <p class=" text-sm font-normal text-gray-600 px-2">Show only ratings more than</p>
              <div class=" grid grid-cols-5 m-2 space-x-0 border-2 rounded-md">
                <div class=" border-r-2 pl-3  ">
                  <div class=" justify-end p-3 inline-flex">
                    <p>1</p>
                    <img src="../images/star-s-fill 1.png" alt="rating">
                  </div>
                </div>
                <div class="border-r-2 pl-3 ">
                  <div class=" justify-end p-3 inline-flex">
                    <p>2</p>
                    <img  src="../images/star-s-fill 1.png" alt="rating">
                  </div>
                </div>
                <div class=" border-r-2 pl-3 ">
                  <div class=" justify-end p-3 inline-flex">
                    <p>3</p>
                    <img src="../images/star-s-fill 1.png" alt="rating">
                  </div>
                </div>
                <div class=" border-r-2 pl-3 ">
                  <div class=" justify-end p-3 inline-flex">
                    <p>4</p>
                    <img  src="../images/star-s-fill 1.png" alt="rating">
                  </div>
                </div>
                <div class=" pl-3">
                  <div class=" justify-end p-3 inline-flex">
                    <p>5</p>
                    <img  src="../images/star-s-fill 1.png" alt="rating">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" max-w-[915px] justify-end">
          <div v-if="searchResults && searchResults.status" class=" font-WorkSans text-list ">
          <div class=" inline-flex">
            <h1 class=" text-2xl font-bold font-WorkSans">{{ searchResults.data.hotels[0].property.wishlistName }} : {{ searchResults.data.hotels.length }} search results found </h1>
            <div class="w-[190px] h-auto py-2 px-3 border-gray-200 border-2 rounded-md ml-[280px]">
              <p class=" text-xs font-medium">Sort by</p>
              <div class=" w-42 h-auto py-3 px-1 bg-none inline-flex justify-center z-[1]  text-text rounded my-2 break-inside-avoid">
                <label class=" w-36 h-auto text-sm font-medium">{{ selectedSortname }}</label>
                <img class=" w-4 h-4 m-0 cursor-pointer" src="../images/arrow-down 1.png" alt="arrow" @click="toggleDropdown">
                <div  v-show="showDropdown" class="absolute z-[1] w-48  rounded-lg shadow-lg bg-white">
                    <ul>
                      <li v-for="sort in sortResults.data" :key="sort.id" :value="sort.id" class="px-4 py-2 cursor-pointer text-text text-sm font-normal text-center" @click="getsortData(sort.title,sort.id)">
                      {{ sort.title }}
                      <hr>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
            <div v-if="searchResults.data && searchResults.data.hotels && searchResults.data.hotels.length > 0" >
              <div v-for="hotel in searchResults.data.hotels" :key="hotel.hotel_id" class=" max-w-[920px] relative  p-5 my-6 border-2 border-bList">
                <div class=" grid grid-cols-3">
                  <div>
                    <img class=" w-[285px] h-auto rounded-md" v-if="hotel.property.photoUrls && hotel.property.photoUrls.length > 0" :src="hotel.property.photoUrls[0]" alt="Hotel Photo">
                  </div>
                  <div>
                    <h2 class="w-[380px] h-8 mx-5 my-5 text-xl font-medium ">{{ hotel.property.name }}</h2>
                    <div class=" inline-flex ml-6">
                      <img src="../images/star-s-fill 1.png" alt="rating">
                      <img src="../images/star-s-fill 1.png" alt="rating">
                      <img src="../images/star-s-fill 1.png" alt="rating">
                      <img src="../images/star-s-fill 1.png" alt="rating">
                      <p class=" text-sm font-normal text-gray-600">{{ hotel.property.reviewScore }} ({{ hotel.property.reviewCount }} Reviews)</p>
                    </div>
                    <p class=" w-[380px] mx-5 my-6  text-xs font-normal  ">{{ hotel.accessibilityLabel }}</p>
                    <button @click="handleSeeAvailability(hotel.hotel_id,hotel.property.checkinDate,hotel.property.checkoutDate,hotel.property.reviewScore)" class=" mx-5 px-[18px] py-[10px] text-base font-normal bg-button text-white rounded-md">See Availability</button>
                  </div>
                  <div class=" mt-auto ml-auto text-right">
                    <div v-if="hotel.property.priceBreakdown && hotel.property.priceBreakdown.strikethroughPrice" class=" w-[70px] h-auto text-sm font-medium text-white p-2 bg-off mb-6 ml-[70px] rounded-md text-center">{{ calculatePercentageDifference(hotel.property.priceBreakdown.grossPrice.value,hotel.property.priceBreakdown.strikethroughPrice.value) }}% off</div>
                    <div class=" inline-flex">
                      <p v-if="hotel.property.priceBreakdown && hotel.property.priceBreakdown.strikethroughPrice" class=" m-2 line-through text-strike ">${{ roundPrice(hotel.property.priceBreakdown.strikethroughPrice.value) }}</p>
                      <p v-if="hotel.property.priceBreakdown && hotel.property.priceBreakdown.grossPrice" class=" m-2 text-xl font-medium ">${{ roundPrice(hotel.property.priceBreakdown.grossPrice.value)}}</p>
                    </div>
                      <p class=" text-sm font-light text-gray-600">Includes taxes and fees</p>
                  </div>
                </div>
              </div>
            </div>
            <div v-else>
              <p>No hotel data available.</p>
            </div>
          </div>
          <div v-else>
            <p>Loading...</p>
          </div>
          
        </div>
    </div>
    <div class=" w-124 h-20 my-24 mx-24 p-7  bg-BGcovid inline-flex rounded-lg font-WorkSans">
            <img src="../images/danger 1.png" alt="covid">
            <p class=" ml-5 ">Check the latest COVID-19 restrictions before you travel. <span class=" text-blue-700 cursor-pointer ">Learn more</span></p>
    </div>
    <div>
      <Footer />
    </div>
    

</template>

<script setup>
import { ref, onMounted , watchEffect , watch , computed } from 'vue';
import axios from "axios";
import SearchBar from '../components/SearchBar.vue';
import Footer from '../components/Footer.vue';
import NavSearch from '../components/NavSearch.vue'
import { useRouter } from 'vue-router';
const form = ref(JSON.parse(localStorage.getItem('formData')));
const hotelNo = ref(JSON.parse(localStorage.getItem('hotelno')));
const selectedSort = ref(null);
const selectedSortname = ref('');
const property = ref ('');
const searchResults = ref(null);
const sortResults = ref(null);
const router = useRouter();
const min = ref(null);
const max = ref(null);
const isChecked = ref(false);
const showDropdown = ref(false);
const allData = ref(null);
const pages = ref(273/20);




const toggleDropdown = ()=>{
   showDropdown.value = !showDropdown.value;
}

const getsortData = (name,id)=>{
  selectedSort.value = id;
  selectedSortname.value = name;
  showDropdown.value = false;
}

const toggleSwitch = () => {
  isChecked.value = !isChecked.value;
};


const updateMinMax = (minValue, maxValue) => {
  const checkbox = event.target;
  if (checkbox.checked) {
    min.value = min.value === null ? minValue : Math.min(min.value, minValue);
    max.value = max.value === null ? maxValue : Math.max(max.value, maxValue);
    console.log('minimum value: ', min.value);
    console.log('max value: ', max.value);
  } else {
    // If the checkbox is unchecked, update min and max accordingly
    if (min.value === minValue) min.value = null;
    if (max.value === maxValue) max.value = null;
  }
};

const options = {
  method: 'GET',
  url: 'https://booking-com15.p.rapidapi.com/api/v1/hotels/searchHotels',
  params: {
    dest_id: form.value.dest,
    search_type: 'CITY',
    arrival_date: form.value.checkIn,
    departure_date: form.value.checkOut,
    adults: form.value.guests,
    children_age: '0,17',
    room_qty: form.value.rooms,
    page_number: Math.round(hotelNo.value/20),
    sort_by: selectedSort.value,
    languagecode: 'en-us',
    currency_code: 'AED'
  },
  headers: {
    'X-RapidAPI-Key': '20d54468c2msh75ff5b8d5fd028bp1a1369jsn6434e6023838',
    'X-RapidAPI-Host': 'booking-com15.p.rapidapi.com'
  }
};

const fetchhotels = async() => {  
  try {
    const response = await axios.request(options);
    searchResults.value = response.data;
    console.log('API Response Hotels:', searchResults.value);

  } catch (error) {
    console.error(error);
  }
};

const sortby = {
  method: 'GET',
  url: 'https://booking-com15.p.rapidapi.com/api/v1/hotels/getSortBy',
  params: {
    dest_id: form.value.dest,
    search_type: 'CITY',
    arrival_date: form.value.checkIn,
    departure_date: form.value.checkOut,
    adults: '1',
    children_age: '1,17',
    room_qty: '1'
  },
  headers: {
    'X-RapidAPI-Key': '20d54468c2msh75ff5b8d5fd028bp1a1369jsn6434e6023838',
    'X-RapidAPI-Host': 'booking-com15.p.rapidapi.com'
  }
};

const fetchSortList = async() => {  
  const cachedData = localStorage.getItem('sortResults');
if (cachedData) {
  // Use cached data if available
  sortResults.value = JSON.parse(cachedData);
  console.log('Using Cached sort Data:', sortResults.value);
} else {
  // Make API request if no cached data
  try {
    const response = await axios.request(sortby);
    sortResults.value = response.data;
    console.log('API Response:', sortResults.value);

    // Store the data in local storage for future use
    localStorage.setItem('sortResults', JSON.stringify(sortResults.value));
  } catch (error) {
    console.error(error);
  }
}
}


const callToSort = {
  method: 'GET',
  url: 'https://booking-com15.p.rapidapi.com/api/v1/hotels/searchHotels',
  params: {
    dest_id: form.value.dest,
    search_type: 'CITY',
    arrival_date: form.value.checkIn,
    departure_date: form.value.checkOut,
    adults: '1',
    children_age: '0,17',
    room_qty: '1',
    page_number: '1',
    sort_by: selectedSort.value,
    languagecode: 'en-us',
    currency_code: 'AED'
  },
  headers: {
    'X-RapidAPI-Key': '20d54468c2msh75ff5b8d5fd028bp1a1369jsn6434e6023838',
    'X-RapidAPI-Host': 'booking-com15.p.rapidapi.com'
  }
};

const sort = async() => {  
  try {
    const response = await axios.request(callToSort);
    searchResults.value = response.data;
    console.log('API Response after sort:', searchResults.value);
  } catch (error) {
    console.error(error);
  }
}


const callToMinMax = {
  method: 'GET',
  url: 'https://booking-com15.p.rapidapi.com/api/v1/hotels/searchHotels',
  params: {
    dest_id: form.value.dest,
    search_type: 'CITY',
    arrival_date: form.value.checkIn,
    departure_date: form.value.checkOut,
    adults: '1',
    children_age: '0,17',
    room_qty: '1',
    page_number: '2',
    price_min: min.value,
    price_max: max.value,
    languagecode: 'en-us',
    currency_code: 'AED'
  },
  headers: {
    'X-RapidAPI-Key': '046220dfdbmsh8e45d6b6a241a1fp138a02jsn7f6311aef5a4',
    'X-RapidAPI-Host': 'booking-com15.p.rapidapi.com'
  }
};

const minMax = async() => {  
  try {
    const response = await axios.request(callToMinMax);
    searchResults.value = response.data;
    console.log('API Response after sort Min Max:', searchResults.value);
    console.log('min:', min.value);
    console.log('max:',max.value);
  } catch (error) {
    console.error(error);
  }
}








onMounted( ()=>{
  //localStorage.removeItem('searchHotelResults');
  //JSON.parse(localStorage.getItem(form.value));
  localStorage.removeItem('selectedHotelData');
  console.log('form :' , form.value);
  console.log('hotelNo :',hotelNo.value);
  console.log('dest_id :' , form.value.dest);
  fetchhotels();
  fetchSortList();
});

const roundPrice = (price) => {
  return Math.round(parseFloat(price));
};

const calculatePercentageDifference = (grossPrice, strikethroughPrice) => {
  grossPrice = parseFloat(grossPrice);
  strikethroughPrice = parseFloat(strikethroughPrice);
  const percentageDifference = (( strikethroughPrice - grossPrice) / strikethroughPrice) * 100;

  return percentageDifference.toFixed();
};


const handleSeeAvailability = (hotel_id, checkin, checkout,score) => {
  const selectedHotelData = {
    hotel_id:hotel_id,
    checkin:checkin,
    checkout:checkout,
    guests:form.value.guests,
    rooms:form.value.rooms,
    score:score
  }; 
  localStorage.setItem('selectedHotelData', JSON.stringify(selectedHotelData));

  router.push({
    name: 'hoteldetails'
  });
};

const filteredResults = computed(() => {
  if (!property.value || !Array.isArray(searchResults.value.data.hotels)) {
    return searchResults.value;
  }

  const searchTerm = property.value.toLowerCase();
  return searchResults.value.data.hotels.filter((hotel) =>
    hotel.property.name.toLowerCase().includes(searchTerm)
  );
});

watch([property], () => {
  if(filteredResults){
    console.log('Filtered Results:', filteredResults.value);
    console.log('test:', filteredResults.value.data);
    searchResults.value.data.hotels= filteredResults.value ;
  };
});

watch([selectedSort], () => {
    sort();
});

watch([min,max], () => {
    minMax();
});

watchEffect(() => {
    //localStorage.setItem('formData', JSON.stringify(form.value));
    console.log('stoooreddd');
    console.log('selected sort title is:',selectedSort.value);
});




</script>

<style lang="scss">

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

</style>