<template>
    <transition name="fade">
      <div v-if="isVisible" class="welcome-card  w-[400px] h-[500px] py-7 px-6 ">
        <div class=" w-[240px] h-[200px] rounded-[10px] px-[40px] py-[20px] bg-booking mx-[56px]">
            <img class=" w-[160px] h-[160px]" src="../images/image 11.png" alt="">
        </div>
        <h1 class=" text-xl font-semibold mt-[45px] mb-[12px] ">Booking Successful</h1>
        <p class=" text-base font-normal mt-3">Congratulations your reservation has been made. You will be notified 2 days prior the date.</p>
        <button @click=" goTrip" class="w-[352px] h-[44px] py-3 px-[18px] text-white bg-button rounded-md my-10" >View Trip</button>
      </div>
    </transition>
  </template>
  
  <script setup>
  import { ref } from 'vue';
  import { useRouter } from 'vue-router';
  
  const isVisible = ref(true);
  const router = useRouter();

  const goTrip = ()=>{
    router.push({
        name: 'mytrips'
    });
  }
  </script>
  
  <style lang="scss" scoped>
  .welcome-card {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
  .welcome-card.transition-opacity {
  transition-property: opacity;
}
  </style>