<template>
    <div class=" grid grid-cols-5 mx-36 bg-none">
        <div>
            <div class=" inline-flex absolute left-32 ">
                  <img class=" w-6 h-6 mr-1" src="../images/bxs-plane-alt 1.png" alt="plane-icon">
                  <p class=" font-medium text-gray-950 text-lg">my Dream Place</p>    
            </div>
            <div class=" w-48 my-7 text-sm ">
                <p>Your next goto companion for travel</p>
            </div>
        </div>
        <div>
            <p class=" font-medium text-lg">Company</p>
            <u class=" no-underline list-none px-7 space-y-2 text-sm">
                <li>About</li>
                <li>Jobs</li>
                <li>Newsroom</li>
                <li>Advertising</li>
                <li>Contact us</li>
            </u>
        </div>
        <div>
            <p class=" font-medium mb-3 text-lg">Explore</p>
            <ul class=" no-underline list-none space-y-2 text-sm">
                <li>Australia</li>
                <li>New Zealand</li>
                <li>United States America (USA)</li>
                <li>Greece</li>
                <li>Maldives</li>
                <li>Singapore</li>
                <li class=" text-button">See more</li>
            </ul>
        </div>
        <div>
            <p class=" font-medium mb-3 text-lg">Terms and Policies</p>
            <ul class=" no-underline list-none space-y-2 text-sm">
                <li>Privacy Policy</li>
                <li>Terms of use</li>
                <li>Acessibility</li>
                <li>Reward system policy</li>
            </ul>
        </div>
        <div>
            <p class=" font-medium mb-3 text-lg">Help</p>
            <ul class=" no-underline list-none space-y-2 text-sm">
                <li>Support</li>
                <li>Cancel your bookings</li>
                <li>Use Coupon</li>
                <li>Refund Policies</li>
                <li>International Travel Documents</li>
            </ul>
        </div>
    </div>
    <div class=" w-[1519px] justify-end mt-14 bg-footer inline-flex font-WorkSans">
        <img class=" w-4 h-4 mt-3 mr-2" src="../images/copyright 1 (1).png" alt="">
        <p class=" text-sm font-normal my-2 mr-[200px] ">my Dream Place 2022</p>
    </div>
</template>

<script setup>

</script>

<style lang="scss" scoped>

</style>