<template>
    <div class="flex flex-col h-530 bg-BGcolor mx-24 relative box-content items-center font-WorkSans">
        <img src="../images/Rectangle 2.png" alt="Dream Vacation">
        <div class="absolute my-48 px-28 text-center text-white">
            <h1 class=" font-black text-3xl">Enjoy Your Dream Vacation</h1>
            <p class=" mx-72 my-5 text-xl">Plan and book our perfect trip with expert advice, 
                travel tips, destination information and  
                inspiration from us</p>
        </div>

        <div class=" absolute bottom-0">
            <SearchBar/>
        </div>

    </div>

    <div class=" w-124 h-20 my-12 mx-[139px] p-7  bg-BGcovid inline-flex rounded-lg font-WorkSans">
        <img src="../images/danger 1.png" alt="covid">
        <p class=" ml-5 ">Check the latest COVID-19 restrictions before you travel. <span class=" text-blue-700 cursor-pointer ">Learn more</span></p>
    </div>

    <div class=" inline-block w-auto h-20 mt-12 mx-36 py-3 font-WorkSans ">
        <h2 class=" font-bold text-2xl">Enjoy your dream vacation</h2>
        <p class=" w-600 h-11 mt-4 font-normal">Plan and book our perfect trip with expert advice, travel tips, destination information and  inspiration from us</p>
    </div>

    <div class="grid grid-flow-col mt-8 ">
        <ul class=" inline-flex justify-center gap-5 text-font">
            <li>
                <img src="../images/Rectangle 8.png" alt="">
                <div class=" mt-4 font-WorkSans">
                    <h3 class=" font-bold text-xl">Australia</h3>
                    <p class=" text-sm">2246 properties</p>
                </div>
            </li>
            <li>
                <img src="../images/Rectangle 9.png" alt="">
                <div class=" mt-4 font-WorkSans">
                    <h3 class=" font-bold text-xl">Japan</h3>
                    <p class=" text-sm" >1278 properties</p>
                </div>
            </li>
            <li>
                <img src="../images/Rectangle 10.png" alt="">
                <div class=" mt-4 font-WorkSans">
                    <h3 class=" font-bold text-xl">New Zealand</h3>
                    <p class=" text-sm" >480 properties</p>
                </div>
            </li>
            <li>
                <img src="../images/Rectangle 11.png" alt="">
                <div class=" mt-4 font-WorkSans">
                    <h3 class=" font-bold text-xl">Greece</h3>
                    <p class=" text-sm" >320 properties</p>
                </div>
            </li>
        </ul>
    </div>

    <div class=" inline-block w-auto h-20 mt-12 mx-36 py-3 font-WorkSans ">
        <h2 class="font-bold text-2xl">Get inspiration for your next trip</h2>
        <ul class=" grid grid-flow-col justify-center gap-5 text-font mt-6">
            <li class=" relative font-WorkSans text-white">
                <img src="../images/Rectangle 8 (1).png" alt="">
                <div class=" absolute top-40 px-5 space-y-2 items-center font-WorkSans">
                    <h3 class=" font-bold text-xl">Sydeny’s 10 most fashionable 5 star hotels</h3>
                    <p class=" text-sm" >Browse the fastest growing tourism sector in the heart of Australia tourism capital ....</p>
                </div>
            </li>
            <li class=" relative font-WorkSans text-white">
                <img src="../images/Rectangle 16.png" alt="">
                <div class=" absolute top-40 px-5 space-y-2 items-center font-WorkSans">
                    <h3 class=" font-bold text-xl">Top cities for Vegan Travellers</h3>
                    <p class=" text-sm" >Top sites where you do not have to worry about being a vegan. Our tourist guide is here...</p>
                </div>
            </li>
            <li class=" relative font-WorkSans text-white">
                <img src="../images/Rectangle 17.png" alt="">
                <div class=" absolute top-40 px-5 space-y-2 items-center font-WorkSans">
                    <h3 class=" font-bold text-xl">World’s top destinations during and post covid timeline</h3>
                    <p class=" text-sm" >Pandemic is still intact and will be here for a longer time. Here’s where your next destination...</p>
                </div>
            </li>
        </ul>
    </div>

    <div class=" inline-block w-auto h-20 mt-12 mx-36 py-3 font-WorkSans ">
        <h2 class="font-bold text-2xl">Popular hotels</h2>
        <ul class="grid grid-flow-col justify-center gap-5 text-font mt-6">
            <li>
                <img src="../images/Rectangle 8 (2).png" alt="">
                <div class=" mt-4 font-WorkSans">
                    <h3 class=" font-bold text-xl">Lakeside Motel Warefront</h3>
                    <p class=" text-sm">2246 properties</p>
                </div>
            </li>
            <li>
                <img src="../images/Rectangle 9 (1).png" alt="">
                <div class=" font-WorkSans">
                    <h3 class=" mt-4 font-bold text-xl">Recce Graham resort</h3>
                    <p class=" text-sm">1278 properties</p>
                </div>
            </li>
            <li>
                <img src="../images/Rectangle 10 (1).png" alt="">
                <div class=" mt-4 font-WorkSans">
                    <h3 class=" font-bold text-xl">Fireside Dinners</h3>
                    <p class=" text-sm">480 properties</p>
                </div>
            </li>
            <li>
                <img src="../images/Rectangle 11 (1).png" alt="">
                <div class=" mt-4 font-WorkSans">
                    <h3 class=" font-bold text-xl">Oculous Inn Stay</h3>
                    <p class=" text-sm">320 properties</p>
                </div>
            </li>
        </ul>

    </div>

    <div class=" relative bg-hero w-124 h-280 mt-20 mx-36 py-3 px-16 font-WorkSans">
        <div class=" absolute right-0 top-0">
            <img src="../images/home.png" alt="">
        </div>
        <div class=" w-600 mt-16 font-WorkSans text-white ">
            <p class=" absolute font-bold text-2xl mb-7 ">Download the mobile application for bonus coupons <br> and travel codes</p>
            <button class=" absolute bg-button py-3 px-4 rounded-md font-WorkSans mt-24 ">Download mobile app</button>

        </div>
    </div>

    <div class=" inline-block w-800 h-8 mt-12 py-3 mx-80 mb-32 font-WorkSans">
        <h2 class="font-bold text-2xl text-center">Explore the world with My Dream place</h2>
        <p class=" text-button text-center mt-4">Discover new places and experiences</p>
    </div>

    
</template>

<script setup>
import SearchBar from './SearchBar.vue';


</script>

<style lang="scss" scoped>

</style>