<template>
    <header class=" relative top-0 bg-white max-w-full mx-36 ">
        <nav  class=" container flex flex-col  items-center py-9 font-WorkSans"    :class="{ 'grey': grey, 'white': !grey }">  

            <div class=" inline-flex absolute left-0 ">
                <img src="../images/bxs-plane-alt 1.png" alt="plane-icon">
                <p class=" font-bold text-gray-950">My Dream Place</p>  
            </div>   

                <ul class="inline-flex  gap-10 flex-1">
                    <RouterLink :to="{name: 'home' }">
                        <li>Home</li>
                    </RouterLink>
                    <li>Discover</li>
                    <li>Activities</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>

            <button v-if="!isAuthenticated" @click="PreviewLogin" class=" absolute right-0 bg-button px-5 py-2 rounded-md font-WorkSans text-white">Login</button>
            <div v-if="isAuthenticated" class=" inline-block mx-6 absolute right-20 top-10   ">
                <img  src="../images/notification 1.png" alt="notification" class=" w-6 h-6" >
            </div>
            <div v-if="isAuthenticated" class=" inline-block mx-6 absolute right-0  ">
                <img @click="Togglemenue" src="../images/Ellipse 2.png" alt="profile" class=" ml-6 cursor-pointer">
            </div>
            <div v-if="isAuthenticated" v-show="showDropdown" class=" absolute z-[1] top-24 right-0 bg-white rounded-lg">
                    <ul class=" font-WorkSans text-sm font-normal text-left">
                       <li class="  px-2 py-2 cursor-pointer text-text text-sm font-normal ">
                        <img class="inline-flex mx-2 " src="../images/user-square 2.png" alt="">
                       Manage account
                       <hr>
                       </li>
                       <li @click="goTrips" class="  px-2 py-2 cursor-pointer text-text text-sm font-normal ">
                        <img class="inline-flex mx-2 " src="../images/bxs-plane-take-off 1.png" alt="">
                       My trips
                       <hr>
                       </li>
                       <li class="  px-2 py-2 cursor-pointer text-text text-sm font-normal ">
                        <img class=" inline-flex mx-2 " src="../images/wallet-3 1.png" alt="">
                       Reward and wallet
                       <hr>
                       </li>
                       <li @click="logout" class=" px-2 py-2 cursor-pointer text-text text-sm font-normal ">
                        <img class="inline-flex mx-2 " src="../images/logout 1.png" alt="">
                       Sign out
                       <hr>
                       </li>
                    </ul>
                </div>
        </nav>
        
    </header>
</template>

<script setup>
import { useRouter } from 'vue-router';
import { ref, computed, onMounted,defineProps, provide,inject } from 'vue';
// import {  logout} from '../store/Auth.js'

const router = useRouter();
const grey = ref(true);
const isAuthenticated = ref(localStorage.getItem('authToken') !== null);

const PreviewLogin = () =>{
    router.push({
        name : "login",
        params:{},
    })
}


const logout = () => {
    isAuthenticated.value = false;
    console.log("isAuthenticated:", isAuthenticated.value);
    localStorage.removeItem('authToken');
    router.push({
    name: 'home'
  });

  
};


const showDropdown = ref(false);
const Togglemenue = () =>{
    showDropdown.value = !showDropdown.value;
}

const goTrips = ()=>{
    router.push({
    name: 'mytrips'
  });
}



</script>

<style lang="scss" scoped>
.white {
  color: #ffff;
}

.grey {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

</style>