<template>
    <form class="grid grid-cols-6 w-103 h-16 px-3 box-content space-x-8 rounded-lg shadow-lg bg-white font-WorkSans"  >
            <div class=" w-48 h-11 py-3 px-1 bg-input inline-flex justify-center  text-text rounded my-2 break-inside-avoid">
                <img class=" w-5 h-5 mx-1" src="../images/location 1.png" alt="location">
                <label class=" w-36 h-4 text-sm font-medium">{{ selectedCity || 'Where are you going?' }}</label>
                <img class=" w-4 h-4 m-0 cursor-pointer" src="../images/arrow-down 1.png" alt="arrow" @click="toggleDropdown">
                <div  v-show="showDropdown" class="absolute w-48 mt-11 rounded-lg shadow-lg bg-white">
                    <ul>
                       <li v-for="city in cityNames" :key="city.dest_id" class="px-4 py-2 cursor-pointer text-text text-sm font-normal text-center" @click="getcityData(city.city_name,city.dest_id)" :value="city.dest_id">
                       {{ city.city_name }}
                       <hr>
                       </li>
                    </ul>
                </div>
            </div>
            <div class=" w-36 h-11 my-2 py-3 bg-input inline-flex justify-center text-text rounded m-0">
                <img class="w-5 h-5 mx-1 left-0 " src="../images/calendar 1.png" alt="calender" >
                <datepicker class=" w-28 text-center bg-input text-text rounded cursor-pointer focus:outline-none" v-model="checkInDate"  format='dd/MMM/yyyy' :placeholder="'Check in Date'" ></datepicker>   
            </div>
            <div class=" w-36 h-11 my-2 py-3 bg-input inline-flex justify-center text-text rounded m-0">
                <img class="w-5 h-5 mx-1 left-0 " src="../images/calendar 1.png" alt="calender" >
                <datepicker class=" w-28 text-center bg-input text-text rounded cursor-pointer focus:outline-none" v-model="checkOutDate" format="yyyy-MM-dd" :placeholder="'Check out Date'"></datepicker>   
            </div>
            <div class=" w-36 h-11 my-2 py-3 bg-input inline-flex justify-center text-text rounded m-0">
                <img class=" w-5 h-5 mx-2 left-0" src="../images/user-square 1.png" alt="">
                <input class=" w-24 text-left bg-input text-text rounded cursor-pointer focus:outline-none" @input="showLabel1 = true" placeholder="Guests" v-model="guests">
                <span class=" absolute ml-8 bottom-[22px]" v-if="showLabel1">{{ guestsLabel }}</span>
            </div>
            <div class=" w-36 h-11 my-2 py-3 bg-input inline-flex justify-center text-text rounded m-0">
                <img class=" w-5 h-5 mx-2 left-0" src="../images/single_bed_FILL0_wght400_GRAD0_opsz24 1.png" alt="">
                <input class=" w-24 text-left bg-input text-text rounded cursor-pointer focus:outline-none"  @input="showLabel2 = true" placeholder="Rooms" v-model="rooms" >
                <span class=" absolute ml-8 bottom-[22px]" v-if="showLabel2">{{ roomsLabel }}</span>
            </div>
            <div class="w-36 h-11 my-2 py-3 bg-button inline-flex justify-center text-white rounded m-0">
               <button @click="handleButtonClick" class="text-sm m-0" >
                    Search
               </button>
            </div>
          </form>
          <div v-if="error" ><p class=" text-sm text-red">Check out date must be after check in date</p></div>
</template>

<script setup>
import { ref , onMounted , watchEffect, watch , defineProps, computed } from 'vue';
import axios from "axios";
import Datepicker from "vue3-datepicker"
import { useRouter , useRoute } from 'vue-router';
import { pinia } from '../main';
import { useFormDataStore } from '../store/pinia';


const checkInDate = ref(new Date());
const checkOutDate = ref(new Date());
const checkin = new Date(checkInDate.value);
const checkout = new Date(checkOutDate.value);
const formatCheckin = checkout / (1000 * 60 * 60 * 24);
const formatCheckout = checkin / (1000 * 60 * 60 * 24);
const hotels = ref(null);
const guests = ref(null);
const rooms = ref(null);
const selectedDest_id = ref(null);
const showDropdown = ref(false);
const selectedCity = ref('');
const showLabel1 = ref(false);
const showLabel2 = ref(false);
const results = ref(null);
const cities = ref(null);
const error = ref(false);
const router = useRouter()
const isAuthenticated = ref(localStorage.getItem('authToken') !== null);
// const formDataStore = useFormDataStore();
// formDataStore.setFormData(JSON.stringify(form.value));





const toggleDropdown = ()=>{
   showDropdown.value = !showDropdown.value;
}

const getcityData = (name,id)=>{
  selectedDest_id.value = id;
  selectedCity.value = name;
  showDropdown.value = false;
}


const guestsLabel = computed(() => {
  const label = guests.value === 1 ? 'adult' : 'adult';
  return `${label}`;
});

const roomsLabel = computed(() => {
  const label = rooms.value === 1 ? 'room' : 'rooms';
  return `${label}`;
});

const handleButtonClick =  async () =>{
    //event.preventDefault();
    if(isAuthenticated.value===false){
        PreviewLogin();
        console.log('login')
    }
    else{
      if(error.value==false){
        PreviewSearch();
      }
    }
}


const PreviewLogin = () =>{
    router.push({
        name : "login",
        params:{},
    })
}

const PreviewSearch = ()=>{
    localStorage.setItem('formData', JSON.stringify(computedForm.value));
    router.push({
     name: "searchresults",
  });
}


function formatDate(date) {
  return date ? date.toISOString().split('T')[0] : 'No Date Selected';
}

const validateDate = () => {
    if (checkOutDate.value >= checkInDate.value) {
        error.value = false;
    } else {
        error.value = true;
        console.error('Check-out date must be greater than Check-in date');
    }
}



//const form = ref({dest:null,checkIn: new Date(),checkOut: new Date()});
const computedForm = computed(() => ({
  dest: selectedDest_id.value,
  checkIn: formatDate(checkInDate.value) ,
  checkOut: formatDate(checkOutDate.value) ,
  guests:guests.value,
  rooms:rooms.value
}));









const searchResults = ref(null);

const options = {
  method: 'GET',
  url: 'https://booking-com15.p.rapidapi.com/api/v1/hotels/searchDestination',
  params: {query: 'egypt'},
  headers: {
    'X-RapidAPI-Key': '20d54468c2msh75ff5b8d5fd028bp1a1369jsn6434e6023838',
    'X-RapidAPI-Host': 'booking-com15.p.rapidapi.com'
  }
};






const cityNames = ref([]);


 const fetchCities = async () => {
  
    try {
      const response = await axios.request(options);
      searchResults.value = response.data;
      cities.value = response.data;
      const citiesFromApi = searchResults.value.data
        .filter((item) => item.search_type === 'city')
        .map((item) => ({
          city_name: item.city_name,
          dest_id: item.dest_id,
        }));
      cityNames.value = citiesFromApi;
      console.log("API cities", cityNames.value);
      console.log('alllllll cities data', cities.value)
    } catch (error) {
      console.error(error);
    }
  };

 
  const transferHotelno = ()=>{
      let i =0;
      for ( i in cities.value.data){
        if (cities.value.data[i].dest_id==selectedDest_id.value){
        hotels.value = cities.value.data[i].nr_hotels;
        console.log('hotel_no:', hotels.value);
        localStorage.setItem('hotelno', JSON.stringify(hotels.value));
      }
      else{console.log('not equal');}
      }
    };
  





onMounted(() => {
  //fetchData();  
  fetchCities();
  //loadSavedFormData();
  //localStorage.removeItem('formData');
  // JSON.parse(localStorage.getItem('formData'));
  localStorage.removeItem('searchHotelResults');
  // console.log('removed');
  
});

watch([checkInDate, checkOutDate], () => {
    validateDate();
});

watch([selectedDest_id],()=>{
  transferHotelno();
})

watchEffect(() => {  
  console.log('Selected City ID:', selectedDest_id.value);
  console.log('data store',computedForm.value);
  console.log('check in date : ', checkInDate.value);
  console.log('check out date : ', checkOutDate.value);
  console.log('guests:', guests.value);
  console.log('rooms:', rooms.value);
  console.log("searchh",results.value);
  

  //localStorage.setItem('formData', JSON.stringify(computedForm.value));  
  
});



</script >

<style lang="scss" >


</style>