<template>
    <transition name="fade">
      <div v-if="isVisible" class="welcome-card  w-[400px] h-[500px] py-7 px-6">
        <img class=" w-[240px] h-[200px] mx-[60px] my-[20px]" src="../images/welcome_card.jpg" alt="">
        <h1 class=" text-xl font-semibold ">Welcome to My Dream Place</h1>
        <p class=" text-base font-normal mt-3">You can now enjoy your travel experience with easy access to resources and more.</p>
        <button @click="dismissWelcomeCard" class="w-[352px] h-[44px] py-3 px-[18px] bg-button rounded-md my-10">Get Started</button>
      </div>
    </transition>
  </template>
  
  <script setup>
  import { ref } from 'vue';
  
  const isVisible = ref(true);
  
  const dismissWelcomeCard = () => {
    isVisible.value = false;
  };
  </script>
  
  <style lang="scss" scoped>
  .welcome-card {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
  .welcome-card.transition-opacity {
  transition-property: opacity;
}
  </style>